@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.front-container,
.back-container {
  width: 375px;
  height: 704px;
  background-color: #fff;
  border-radius: 7px;
}
body {
  background-color: #cdcccc;
}
.front-main {
  position: absolute;
}
.card-bg {
  margin-top: -192px;
  margin-left: 82px;
}
.card-front {
  margin-top: -68px;
  margin-left: 11px;
}

.bgcardtxt,
.backcardtxt {
  color: #fff;
  margin-top: 63px;
  position: absolute;
  margin-left: -59px;
  font-family: "Space Grotesk", sans-serif;
}
.cardfrontnumber,
.cardbacknumber {
  position: absolute;
  margin-top: 87px;
  margin-left: 21px;
  font-size: 20px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}
.fr-card-name,
.back-card-name {
  position: absolute;
  margin-top: -29px;
  margin-left: 22px;
  font-size: 11px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}
.card-expire-data,
.card-expire-data-bg {
  margin-left: 81px;
  font-family: "Space Grotesk", sans-serif;
}
.Continue {
  width: 327px;
  height: 53px;
  background-color: #21092f;
  color: #fff;
  font-size: 18px;
  font-family: "Space Mono", monospace;
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 60px;
  font-family: "Space Grotesk", sans-serif;
}

.Continue {
  border: none;
  border-radius: 8px;
  font-family: Space Grotesk;
}
.thanks-txt {
  font-size: 28px;
  color: #21092f;
  font-family: Space Grotesk;
}
.tnx-second-txt {
  font-size: 20px;
  color: #8f8694;
  margin-top: -19px;
  font-family: Space Grotesk;
}
.input-name,
.input-name-card {
  width: 327px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #dfdee0;
}
.name-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-mm {
  width: 72px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #dfdee0;
}
.input-yy {
  width: 72px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #dfdee0;
}
.input-eg-number {
  width: 164px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #dfdee0;
}
.exp-data {
  display: flex;
  gap: 10px;
}
.config {
  width: 327px;
  height: 53px;
  border: 7px;
  margin-top: 20px;
  background-color: #21092f;
  color: #fff;
  font-family: Space Grotesk;
  font-size: 18px;
  border-radius: 8px;
}
.name-number-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: Space Grotesk;
  color: #21092f;
}
.cvc-txt {
  margin-left: 20px;
  font-family: Space Grotesk;
  color: #21092f;
}
.exp-data {
  margin-top: 10px;
  font-family: Space Grotesk;
  color: #21092f;
}
.number-input {
  margin-top: 10px;
  font-family: Space Grotesk;
  color: #21092f;
}
.exp-data-number {
  margin-top: 10px;
  font-family: Space Grotesk;
  color: #21092f;
}
.input-mm::placeholder {
  padding-left: 20px;
  font-size: 18px;
}
.input-yy::placeholder {
  padding-left: 25px;
  font-size: 18px;
}
.input-eg-number::placeholder {
  padding-left: 25px;
  font-size: 18px;
}
.input-name::placeholder {
  padding-left: 20px;
}
