* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.front-container,
.back-container {
  width: 375px;
  height: 704px;
  background-color: #fff;
  border-radius: 7px;
}
body {
  background-color: #cdcccc;
}
.front-main {
  position: absolute;
}
.card-bg {
  margin-top: -192px;
  margin-left: 82px;
}
.card-front {
  margin-top: -68px;
  margin-left: 11px;
}

.bgcardtxt,
.backcardtxt {
  color: #fff;
  margin-top: 63px;
  position: absolute;
  margin-left: -54px;
}
.cardfrontnumber,
.cardbacknumber {
  position: absolute;
  margin-top: 87px;
  margin-left: 21px;
  font-size: 20px;
  color: #fff;
}
.fr-card-name,
.back-card-name {
  position: absolute;
  margin-top: -29px;
  margin-left: 22px;
  font-size: 9px;
  color: #fff;
}
.card-expire-data,
.card-expire-data-bg {
  margin-left: 81px;
}
.Continue {
  width: 327px;
  height: 53px;
  background-color: #21092f;
  color: #fff;
  font-size: 18px;
  font-family: Space Grotesk;
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 60px;
}

.Continue {
  border: none;
  border-radius: 8px;
  font-family: Space Grotesk;
}
.thanks-txt {
  font-size: 28px;
  color: #21092f;
  font-family: Space Grotesk;
}
.tnx-second-txt {
  font-size: 20px;
  color: #8f8694;
  margin-top: -19px;
  font-family: Space Grotesk;
}
